<!DOCTYPE html>
<html>
<head>
    <!--
        You'll have to speak up, I'm wearing a towel
    -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700,600italic" rel="stylesheet" type="text/css">
    <title>Sand Co Dot Eye Oh</title>
    <style>

        body {
            background-color: #ffffff;
            color: #333333;
            font-family: "Cabin",Helvetica,Arial,sans-serif;
            text-align: center;
            margin-top: 4em;
        }

        a {
            text-decoration: none;
            color: #0000cc;
        }

        a:hover {
            text-decoration: underline;
        }
        a:visited {
            color: #8000ff;
        }

    </style>
</head>
<body>
    <h1>Joseph L. Sanders</h1>
    <h3>Errata ad nauseam</h3>
    <p><a href="https://www.github.com/jls83">GitHub</a> - A place to put my code</p>
    <p><a href="/roadie">Roadie</a> - Setlist Management for Obsessive Nerds</p>
    <p><a href="https://ricecultivationsociety.bandcamp.com/">Rice Cultivation Society</a> - The band whose setlists I obsessively manage</p>
</body>
</html>
