{% extends "setlists/base.html" %}

{% block title %}Roadie -  {{ album_obj.album_title }}{% endblock %}
{% block content %}
<h1>{{ album_obj.album_title }}</h1>

<ol>
    {% for i in album_tracklist %}
    <li>
        <a href={% url "song_detail" i.song.simple_title %}>{{ i.song.song_title }}</a>
    </li>
    {% endfor %}
</ol>

{% if album_obj.album_stream %}    
    <p>Stream: 
        <a href="{{ album_obj.album_stream }}">{{ album_obj.album_title }}</a>
    </p>
{% endif %}

{% endblock %}
