{% extends "setlists/base.html" %}

{% load shownotes %}

{% block title %}Roadie -  {{ show_obj }}{% endblock %}

{% block content %}

<h1>{{ show_obj.show_date }}</h1>
<h3>{{ show_obj.show_venue }}</h3>

<p>{# I had to kludge this together to get the comma separation working correctly #}

{% for song_obj in show_tracklist %}
    <a href="{% url "song_detail" song_obj.song.simple_title %}"><!--
    -->{{ song_obj.song.song_title }}<!--
    --></a><!--
    -->{% with simple=song_obj.song.simple_title|cut:"-" %}<!--
        -->{% if show_songnotes|numberize:simple %}<!--
        --><sup>[{{ show_songnotes|numberize:simple }}]</sup><!--
        -->{% endif %}<!--
    -->{% endwith %}<!--
    -->{% if not forloop.last %}<!--
        -->{% if song_obj.track_segue %} > <!--
        -->{% else %}, <!--
        -->{% endif %}<!--
    -->{% endif %}<!--
-->{% endfor %}<!--
-->
</p>

{% with rendered_notes=show_songnotes|listify %}
<ul class='show_notes'>
    {% for line in rendered_notes %}
    <li>[{{ line.0 }}] {{ line.1 }}</li>
    {% endfor %}
</ul>
{% endwith %}

{% if show_obj.show_notes %}
    <p>Notes: {{ show_obj.show_notes }}</p>
{% endif %}

{% if show_obj.show_stream %}
    <p>Stream: {{ show_obj.show_stream }}</p>
{% endif %}

{% endblock %}
