{% extends "setlists/base.html" %}

{% block title %}Roadie -  {{ venue_obj.venue_name }}{% endblock %}

{% block content %}

<h1>{{ venue_obj.venue_name }}</h1>
<h3>{{ venue_obj.venue_address }}</h3>

{% with venue_count=venue_showlist|length %}
<h3>{{ venue_count }} show{{ venue_count|pluralize }} ha{{ venue_count|pluralize:"s,ve" }} been played at this venue</h3>
{% endwith %}

<ul>
    {% for i in venue_showlist %}
    <li>
        <a href={% url "show_detail" i %}>{{ i }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
