body {
    background-color: #333333;
    color: #b3b3b3;
    font-family: "Cabin",Helvetica,Arial,sans-serif;
    margin: 1em;
}

a {
    text-decoration: none;
    color: #d39b46;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: #b9812c;
}

h1, h2, h3, h4, h5, h6 {
    color: #d9d9d9;
}

h3 {
    font-style: italic;
}

.nav {
    background-color: #1a1a1a;
    float: left;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    border-radius: 0.25em;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    color: #b3b3b3;
}

.content {
    margin: 0 0 0 1em;
}

.show_notes {
    list-style: none;
}

.prevnext a {
    font-weight: bold;
}
