body {
    background-color: #333333;
    color: #b3b3b3;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.nav {
    background-color: #1a1a1a;
    width: 100%;
    float: left;
    margin: 0.5em 0 0.5em 0;
    padding: 10px;
    list-style: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    color: #ffffff;
}

.nav a{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #d39b46;
}

a:hover {
    text-decoration: none;
}
a:visited {
    color: #b9812c;
}

h1, h2, h3, h4, h5, h6 {
    color: #d9d9d9;
}

h3 {
    font-style: italic;
}

